@charset "UTF-8";

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-border: #DDD;
    --clr-bg-light: #FAFAFA;
    --clr-bg-regular: #EEE;
    --clr-bg-dark: #dadada;
    --clr-link: #0453ad;
    --size-border-radius: 4px;
}

html, body {
    background-color: var(--clr-bg-light) !important;
}

html {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0;
    padding-block: 20px;
}

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-block: 1em 0.625em;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 38px;
}

p {
    margin-block: 0 0.875em;
    margin: 0 0 11.5px;
}

ul {
    margin-top: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

li {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

pre {
    white-space: pre-wrap;
    font-size: 17px;
}

a,
a:visited {
    color: var(--clr-link);
}

input,
textarea {
    font-size: inherit;
}

button {
    display: inline-block;
    padding: 0.5em;
    background-color: var(--clr-bg-regular);
    border: solid 1px var(--clr-border);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    transition: background-color 150ms;

    &:hover {
        background-color: var(--clr-bg-dark);
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 400px;
    padding: 8px;
    background-color: #FFF;
    border: solid 1px var(--clr-border);
    border-radius: var(--size-border-radius);

    &::placeholder {
        color: #AAA;
    }
}


details {
    --size-padding: 15px;

    margin-bottom: 20px;
    border-radius: var(--size-border-radius);
    border: solid 1px var(--clr-border);
    overflow: hidden;

    &[open] {
        border-radius: var(--size-border-radius);
    }
    &[open]::details-content {
        padding: 20px var(--size-padding);
        background-color: #FFF;
    }
    & > :nth-child(2) {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

summary {
    padding: 10px var(--size-padding);
    color: var(--clr-link);
    cursor: pointer;
    transition: background-color 150ms;

    details[open] > & {
        border-bottom: 1px solid var(--clr-border);
    }
    &:hover {
        background-color: var(--clr-bg-dark);
    }
}

/* Actions */

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0;
}

.action-item {
    display: inline-block;
    margin: 0;
}

/* Errors list */

.errors-list {
    --clr-bg-error: #f3e9e8;

    border: 1px solid color-mix(in srgb, var(--clr-bg-error), black 15%);
    margin-block: 10px 20px;
    padding: 15px;
    background-color: var(--clr-bg-error);
    border-radius: var(--size-border-radius);

    & > :first-child {
        margin-top: 0;
    }
}

/* Utilities */

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* Em errors */

ul#emListAction {
    list-style: none; /* Removes bullets */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
  }

#emListAction li {
    margin-bottom: 15px;
  }