@charset "UTF-8";

body {
    display: flex;
    justify-content: center;/* Centers horizontally */
    font-family:Arial, Helvetica, sans-serif;
    }

#container{
    width: 1920 px;
}

ul#actions > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

div#errors-list{
    border:1px solid #ddd;
    padding:0 15px 15px;
    background-color:#f3e9e8;
    margin:10px 0 20px;
}

#actions, #actions li{margin:0 0 5px 0; padding:0; }